// Colors
$dark-grey: #333333;
$grey: #666666;
$blue: #1c88bf;
$dark-blue: #364051;
$blue: #13294B;
$off-white: #f7f7f7;

//bacground
$background1: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);

//font-size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$mobile-breakpoint-min: 23.438rem;
$mobile-breakpoint-max: 50.75rem;
$small-mobile-breakpoint-min: 15rem;
$small-mobile-breakpoint-max: 23.313rem;

